extends layout

block content

	each val in data
		.row
			.col-6
				.card.brown
					.card-content.white-text
						.card-title
							h4 #{val.name}
								.card.pink 
									p Id: #{val._id}
									p Name: #{val.name}
									p PhoneNo: #{val.phoneNo}

					.card-action
						a(href='deleteData?id='+val._id) Delete
						a(href='updateData?id='+val.id) update
						a(href='viewHero?id='+val.id) View
							
