extends layout

block content

	each val in data
		.row
			.col-6
				.card.brown
					.card-content.white-text
						.card-title
							h4 #{val.name}
								.card.pink 
									p Id: #{val._id}
									p Name: #{val.name}
									p PhoneNo: #{val.phoneNo}

					.card-action
						a(href='deleteData?name='+val.name) Delete
						a(href='updateData?_id='+val._id) update
						a(href='viewData?_id='+val._id) view
						
							
