extends layout

block content
  h1= title
  
   nav
    a.brand-logo(href='#') 
     ul#nav-mobile.right.hide-on-med-and-down
      li
       a(href='getAll') GET ALL
      
        
  p Welcome to #{title}

     
  form(action='saveData' method='get')
    .row
     .input-field.col.s6
      label(for='name') Name
      input#name.validate(type='text', name='name')
    .row
     .input-field.col.s6
      label(for='phoneNo') PhoneNo
      input#phoneNo.validate(type='text', name='phoneNo')
   
     
    .row
     button.btn(type='submit') Go