extends layout

block content
  h1= title
  
   nav
    a.brand-logo(href='#') 
     ul#nav-mobile.right.hide-on-med-and-down
      li
       a(href='getAllHeros') GET ALL HEROS
      li
        a(href='home') HOME  
        
  p Welcome to #{title}

     
  form(action='saveData' method='get')
    .row
     .input-field.col.s6
      label(for='firstName') Super Hero
      input#superhero.validate(type='text', name='superhero')
    .row
     .input-field.col.s6
      label(for='publisher') Publisher
      input#publisher.validate(type='text', name='publisher')
   
    .row
     .input-field.col.s6
      label(for='alter_ego') Alter_ego 
      input#alter_ego.validate(type='text', name='alter_ego')
    .row
     .input-field.col.s6
      label(for='first_appearance') First Appearance 
      input#first_appearance.validate(type='text', name='first_appearance')
    .row
     .input-field.col.s6
      label(for='characters') Characters 
      input#characters.validate(type='text', name='characters')
    
    .row
     button.btn(type='submit') Go